[ req ]
distinguished_name = req_distinguished_name
req_extensions         = v3_ca
#x509_extensions        = v3_ca

[ req_distinguished_name ]
countryName                    = Country Name (2 letter code)
countryName_default            = US
countryName_min                = 2
countryName_max                = 2
stateName			= IL
stateName_default		= IL
localityName                   = Chicago
localityName_default		= Chicago
organizationName		= kubernetes
organizationName_default	= kubernetes
organizationalUnitName         = CA
organizationalUnitName_default = CA
commonName                     = kubernetes
commonName_default		= kubernetes
commonName_max                 = 64

[ v3_ca ]
basicConstraints       = CA:FALSE
extendedKeyUsage       = clientAuth, serverAuth
keyUsage               = digitalSignature, keyEncipherment

subjectAltName = @alt_names

[ alt_names ]
IP.1   = 10.32.0.1
IP.2   = 10.240.0.10
IP.3   = 10.240.0.11
IP.4   = 10.240.0.12
IP.5   = 35.188.144.38
IP.6   = 127.0.0.1
DNS.7   = kubernetes.default
